<!-- {% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}


<div class="container" >
    

  {% for image in images %}
  <div class="row" style=margin-top:150px;>
  
   
  
  
      <div class="col-sm-4" style="padding-top:20px;" >
         
        
             <p>{{image.location}} </p> 
             <p>{{image.name}} </p> 
        <img src="{{image.image.url}} " style="margin-bottom:20px;height:300px"class="img-responsive"  width="400" alt="Image">
    
    

  
                       
                       
    </div>
  </div>

 

          
</div>

{% endfor %}



{% endblock %}
<style>
  .container{
    background-color:black;
  }
</style> -->